In [1]:
import yfinance as yf
import datetime

start_date = "2025-01-01"
end_date = datetime.datetime.today().strftime('%Y-%m-%d')

ticker = yf.Ticker("QQQ")  # QQQ tracks NASDAQ-100
data = ticker.history(start=start_date, end=end_date)

data.head()  # Show first few rows

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2025-01-02 00:00:00-05:00,513.534162,515.870704,504.956956,509.470245,36389800,0.0,0.0,0.0
2025-01-03 00:00:00-05:00,512.585547,518.876214,511.766822,517.807800,29059500,0.0,0.0,0.0
2025-01-06 00:00:00-05:00,523.239727,527.133883,521.252700,523.758911,36109700,0.0,0.0,0.0
2025-01-07 00:00:00-05:00,524.807374,525.206742,512.515708,514.412842,36690300,0.0,0.0,0.0
2025-01-08 00:00:00-05:00,514.313027,516.150253,509.809733,514.502747,30777800,0.0,0.0,0.0