In [2]:
import yfinance as yf
import datetime

start_date = "2020-01-01"
end_date = datetime.datetime.today().strftime('%Y-%m-%d')

ticker = yf.Ticker("QQQ")  # QQQ tracks NASDAQ-100
data = ticker.history(start=start_date, end=end_date)

data.head(50)  # Show first few rows

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2020-01-02 00:00:00-05:00,207.621502,209.325867,207.214782,209.325867,30969400,0.0,0.0,0.0
2020-01-03 00:00:00-05:00,206.556295,208.657686,206.536923,207.408463,27518900,0.0,0.0,0.0
2020-01-06 00:00:00-05:00,205.781620,208.773923,205.529846,208.744873,21655300,0.0,0.0,0.0
2020-01-07 00:00:00-05:00,208.822313,209.306505,208.057296,208.715790,22139300,0.0,0.0,0.0
2020-01-08 00:00:00-05:00,208.686779,211.243313,208.357532,210.284607,26397300,0.0,0.0,0.0